Source: opensips
Section: net
Priority: optional
Maintainer: Răzvan Crainea <razvan@opensips.org>
Build-Depends: bison,
               debhelper (>= 9),
               default-libmysqlclient-dev | libmysqlclient-dev,
               debhelper (>= 9.20160709) | dh-systemd (>= 1.5),
               dpkg-dev (>= 1.16.1.1),
               quilt,
               flex,
               libconfuse-dev,
               libcurl4-gnutls-dev,
               libdb-dev (>= 4.6.19),
               libfdcore6 (>= 1.2.1) | base-files,
               libfdproto6 (>= 1.2.1) | base-files,
               libfreediameter-dev (>= 1.2.1) | base-files,
               libexpat1-dev,
               libmaxminddb-dev | libgeoip-dev (>= 1.4.4),
               libhiredis-dev,
               libjson-c-dev,
               libjwt-dev | base-files,
               librdkafka-dev,
               libldap2-dev,
               liblua5.1-0-dev,
               libmemcached-dev,
               libmicrohttpd-dev,
               libbson-dev | base-files,
               libmongoc-dev | base-files,
               libncurses5-dev,
               libpcre3-dev,
               libperl-dev,
               libpq-dev,
               librabbitmq-dev,
               libradcli-dev | libfreeradius-client-dev,
               libsctp-dev [linux-any],
               libsnmp-dev,
               libsqlite3-dev,
               libssl-dev,
               lsb-release,
               uuid-dev,
               libxml2-dev,
               pkg-config,
               python | python-is-python3,
               python-dev | python-dev-is-python3,
               unixodbc-dev,
               xsltproc,
               zlib1g-dev
Standards-Version: 3.9.8
Homepage: https://opensips.org/

Package: opensips
Architecture: any
Multi-Arch: foreign
Depends: adduser, python | python-is-python3, ${misc:Depends}, ${shlibs:Depends}
Description: very fast and configurable SIP server
 OpenSIPS is a very fast and flexible SIP (RFC3261)
 server. Written entirely in C, OpenSIPS can handle thousands calls
 per second even on low-budget hardware.
 .
 C Shell-like scripting language provides full control over the server's
 behaviour. Its modular architecture allows only required functionality to be
 loaded.
 .
 Among others, the following modules are available: Digest Authentication, CPL
 scripts, Instant Messaging, MySQL support, Presence Agent, Radius
 Authentication, Record Routing, SMS Gateway, Jabber/XMPP Gateway, Transaction
 Module, Registrar and User Location, Load Balaning/Dispatching/LCR,
 XMLRPC Interface.
 .
 This package contains the main OpenSIPS binary along with the principal modules
 and support binaries including opensipsmc configuration tool.

Package: opensips-auth-modules
Architecture: any
Multi-Arch: same
Depends: opensips (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Authentication interfaces for OpenSIPS
 OpenSIPS is a very fast and flexible SIP (RFC3261)
 server. Written entirely in C, OpenSIPS can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the modules that are being used to provide
 SIP authentication in OpenSIPS. It consists of both the
 authentication interface (the auth module), as well as the UAC
 authentication module (uac_auth).

Package: opensips-http-modules
Architecture: any
Multi-Arch: same
Depends: libmicrohttpd10|libmicrohttpd12,
         opensips (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: HTTP transport layer and Management Interface for OpenSIPS
 OpenSIPS is a very fast and flexible SIP (RFC3261)
 server. Written entirely in C, OpenSIPS can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides an HTTP transport layer and Management Interface for
 OpenSIPS.

Package: opensips-json-module
Architecture: any
Multi-Arch: same
Depends: opensips (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: Support for JSON handling in OpenSIPS script
 OpenSIPS is a very fast and flexible SIP (RFC3261)
 server. Written entirely in C, OpenSIPS can handle thousands calls
 per second even on low-budget hardware.
 .
 This package introduces a new type of variable that provides both
 serialization and de-serialization from JSON format. The script variable
 provides ways to access (from script) objects and arrays to add,replace or
 delete values from the script.

Package: opensips-dbg
Priority: extra
Architecture: any
Multi-Arch: same
Section: debug
Depends: opensips (= ${binary:Version}), ${misc:Depends}
Description: very fast and configurable SIP server [debug symbols]
 OpenSIPS is a very fast and flexible SIP (RFC3261)
 server. Written entirely in C, OpenSIPS can handle thousands calls
 per second even on low-budget hardware.
 .
 This package contains the debugging symbols for the OpenSIPS binaries and
 modules. You only need to install it if you need to debug OpenSIPS.

Package: opensips-mysql-module
Architecture: any
Multi-Arch: same
Depends: opensips (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: MySQL database connectivity module for OpenSIPS
 OpenSIPS is a very fast and flexible SIP (RFC3261)
 server. Written entirely in C, OpenSIPS can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the MySQL database driver for OpenSIPS.

Package: opensips-tlsmgm-module
Architecture: any
Multi-Arch: same
Depends: opensips (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: SIMPLE presence modules for OpenSIPS
 OpenSIPS is a very fast and flexible SIP (RFC3261)
 server. Written entirely in C, OpenSIPS can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides several OpenSIPS modules for implementing presence
 server and presence user agent for RICH presence, registrar-based presence,
 external triggered presence and XCAP support.

Package: opensips-restclient-module
Architecture: any
Multi-Arch: same
Depends: opensips (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: REST client module for OpenSIPS
 OpenSIPS is a very fast and flexible SIP (RFC3261)
 server. Written entirely in C, OpenSIPS can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the REST client support for OpenSIPS.

Package: opensips-siprec-module
Architecture: any
Multi-Arch: same
Depends: opensips (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: SIP Call Recording Implementation for the SIPREC Protocol
 OpenSIPS is a very fast and flexible SIP (RFC3261)
 server. Written entirely in C, OpenSIPS can handle thousands calls
 per second even on low-budget hardware.
 .
 This module provides the means to Record Calls using the SIPREC protocol.

Package: opensips-tls-module
Architecture: any
Multi-Arch: same
Depends: opensips (= ${binary:Version}),
         opensips-tlsmgm-module (= ${binary:Version}),
         opensips-tls-openssl-module (= ${binary:Version}) | opensips-tls-wolfssl-module (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: TLS transport module for OpenSIPS
 OpenSIPS is a very fast and flexible SIP (RFC3261)
 server. Written entirely in C, OpenSIPS can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the TLS support for OpenSIPS.

Package: opensips-tls-openssl-module
Architecture: any
Multi-Arch: same
Depends: opensips (= ${binary:Version}),
         opensips-tlsmgm-module (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: TLS transport module for OpenSIPS
 OpenSIPS is a very fast and flexible SIP (RFC3261)
 server. Written entirely in C, OpenSIPS can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the OpenSSL implementation for TLS in OpenSIPS.

Package: opensips-wss-module
Architecture: any
Multi-Arch: same
Depends: opensips (= ${binary:Version}),
         opensips-tlsmgm-module (= ${binary:Version}),
         opensips-tls-openssl-module (= ${binary:Version}) | opensips-tls-wolfssl-module (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: WebSocket Secure (WSS) transport module for OpenSIPS
 OpenSIPS is a very fast and flexible SIP (RFC3261)
 server. Written entirely in C, OpenSIPS can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the WebSocket Secure (WSS) support for OpenSIPS.

Package: opensips-dialplan-module
Architecture: any
Multi-Arch: same
Depends: opensips (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: Generic string translation module for OpenSIPS
 OpenSIPS is a very fast and flexible SIP (RFC3261)
 server. Written entirely in C, OpenSIPS can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides dialplan module that implements generic string
 translations based on matching and replacement rules. It can be used to
 manipulate R-URI or a PV and to translated to a new format/value.

Package: opensips-regex-module
Architecture: any
Multi-Arch: same
Depends: opensips (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: PCRE regexp modules for OpenSIPS
 OpenSIPS is a very fast and flexible SIP (RFC3261)
 server. Written entirely in C, OpenSIPS can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides a module for matching operations against regular
 expressions using the powerful PCRE library. By default, OpenSIPS support
 sed-like regular expressions; PCRE library brings perl-like regular
 expressions.

Package: opensips-xml-module
Architecture: any
Multi-Arch: same
Depends: opensips (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: Support for XML documents handling in OpenSIPS script
 OpenSIPS is a very fast and flexible SIP (RFC3261)
 server. Written entirely in C, OpenSIPS can handle thousands calls
 per second even on low-budget hardware.
 .
 This package introduces a new type of variable that provides both
 serialization and de-serialization from a XML document. The script variable
 provides ways to access (from script) objects and arrays to add, replace or
 delete values from the script.
